# Base de datos SQLite (se crea automáticamente con prisma db push)
DATABASE_URL="file:./db/custom.db"

# NextAuth Configuration
NEXTAUTH_SECRET="aeromaint-secret-change-in-production-2024"
NEXTAUTH_URL="http://localhost:3000"
